[Unit]
Description=Restore ipset rules
Before=iptables-restore.service

[Service]
Type=oneshot
ExecStart=/sbin/ipset -f /etc/ipset.conf restore
ExecReload=/sbin/ipset -f /etc/ipset.conf restore
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
